@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');




body{
    margin: 0px;
    /* background-color: tan; */
    font-family: 'Montserrat', sans-serif;
    
    
}

.center-container{
    max-width: 600px;
    margin: auto;
}

:root {
    --primary-color: #2563eb;
    --heading-color: #64748b;
}

.container-fluid{
    padding: 0.3rem,0.3rem;
    
}

.navigation{
    background-color: var(--primary-color);
    padding: 0.3rem,0;
    border-bottom-right-radius: 2rem;
    /* color: white; */
}

 .unorder-list {
    text-align: right;
    padding: 20px;
    padding-inline-start: 0;
    /* color: white; */
}

.inline-list-items{
    display: inline;
    padding: 0.3rem;
    margin: 0.2rem 0;
    /* color: white; */
}

.navigation .brand{
    padding: 10px;
    color: white;
    font-weight: bold;
}

.nav-pills{
    text-decoration: none;
    color: white;
}

.nav-pills:hover{
    font-weight: bold;
}

.header-image {
    max-width: 550px;
    display: block;
    margin: auto;
    padding: 30px;
}

.header h1{
 color: var(--heading-color);
 text-align: center;
 word-spacing: 10px;
}

.inner-heading{
    color: var(--primary-color);
}
section{
    padding: 20px;
}

section h2{
    letter-spacing: 0.2rem;
}

 h2{
    text-align: center;
    font-weight: bolder;
    color: var(--primary-color);
    padding: 5px;
    
}

section div{
    max-width: 600px;
    margin: auto;
}
footer{
    text-align: center;
    background-color: var(--primary-color);
    border-top-right-radius: 2rem;
    padding: 5px, 0;


}

footer .unorder-list{
    text-align: center;
    
}

.active{
    font-weight: bold;
}

.project-source-link{
    text-decoration: none;
    color: brown;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

footer h2{
    color: white;
    padding-top: 10px;
}